<div id="about">

<h4 style="text-align:center;">If you've not yet downloaded it, you can access the <a href="#/">free ebook</a> through the blue button above.</h4>
<div style="max-width:960px;">
  <img ng-src="images/imagine1.jpg" alt="Just imagine the power" style="width: 380px; height: 563px; margin: 15px 20px; float: right;">
  <p>
  10 years of advanced mind power research reveals 'world first' secrets...
  </p>

  <p>
  Imagine how useful it could be to attract luck and be given ‘<i>urges</i>’ and hunches to  <span class="underline">create financial windfalls</span> in your life…
  </p>

  <p>
  …Imagine if you could program up dreams for yourself that actually HEAL your mind and body? (for instance, reverse feelings of depression almost overnight…)
  </p>

  <p>
  Sound incredible? … this is just the tip of the iceberg…
  </p>

  <p>
  Imagine if you could find <i>inspired</i> answers to all your problems, almost at will…
  </p>

  <p>
  … or bring back the CLOSENESS, and <i>passion</i> with your partner, or attract a NEW romantic partner (…using <span class="underline">just</span> the power of your mind)
  </p>

  <p>
  … Imagine if you even discovered a technique to <span class="underline">vastly</span> improve your chances of predicting the next color in a game of roulette…
  </p>

  <p>
  Well, you may be somewhat stunned to learn that all of this is now possible…plus MUCH more!
  </p>

  <p>
  For nearly 10 years, a privately funded team led by Jim Francis, did in-depth research into advanced mind power techniques.
  </p>

  <p>
  <b>
    All of their discoveries are classified as 'leading edge', with a few in the 'world first' category and are now available to you in a series of 23 reports...
  </b>
  </p>

  <p>
  The reports within the research are NOT theoretical "mumbo-jumbo" documents designed to merely titillate your interest, then leave you with no practical formula to follow. They are <span class="underline">hands-on instruction manuals</span> which have been developed by a group of serious businessmen in a <b>dedicated research laboratory.</b> They are designed to take you through the various mind-power disciplines STEP BY STEP so that you can understand, learn and <span class="underline">use</span> them.
  </p>

  <p>
  They are probably the most practical reports on personal mind-power EVER written.
  </p>

  <p>
  Some of the reports originally sold for $100 EACH (<i>...without any accompanying audios</i>)
  </p>

  <p>
  Later on, one of the world's leading brainwave audio engineers, Jeff Gignac, and the English hypnotist Howard Sandford, were invited to <span class="underline">create 32 audios based on the carefully crafted scripts in the research.</span>
  </p>

  <p>
  <b>
    All 23 reports and all 32 audios are now available together in...
  </b>
  </p>

  <div layout='column' layout-align='start center'>
    <img ng-src="images/montage.jpg" alt="" />
    <h4>Get all this today...</h4>
  </div>
</div>
</div>
